section{
    text-align: center;
}
.list-style{
list-style-position: inside;
list-style-type: none;
margin-left: 35rem;
color:purple;
display: flex;
align-items: center;

} 
article h2{
    color:purple;
}
